{% load static %}
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Нам важно Ваше мнение</h4>
                <button class="" type="button" data-dismiss="modal">x</button>
                
            </div>
            <div class="modal-body clearfix">
                    <div class="col-sm-12 feedback__form">
                        {% include 'contactForm_page/contact.html' %}
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>