{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list">
                    <li>
                        <a href="" class="list__link">Главная</a>
                    </li>
                    <li>
                        <a href="" class="list__link">Каталог</a>
                    </li>
                    <li>
                        <a href="" class="list__link">Оплата и доставка</a>
                    </li>
                    <li>
                        <a href="" class="list__link">О нас</a>
                    </li>
                    <li>
                        <a href="" class="list__link">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col d-none d-sm-block">
                <img src="{% static 'img/main/fabrika.png' %}" alt="" class="footerLogo">
            </div>
            <div class="col text-right">
                <a href="https://vk.com/kruzhevo_ekat" class="socialNetwork">
                    <span class="socialNetwork__link socialNetwork__link_vk"></span>
                </a>
                <a href="https://www.instagram.com/fabrika.ekat" class="socialNetwork">
                    <span class="socialNetwork__link socialNetwork__link_insta"></span>
                </a>
            </div>
        </div>
    </div>
</footer>